<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(() => {
            const errorMessage = [[${ errorMessage }]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });
    </script>

</th:block>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유 게시판</title>
</head>

<body>
    <th:block layout:fragment="content">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">제목</th>
                    <th scope="col">글쓴이</th>
                    <th scope="col">추천</th>
                    <th scope="col">조회</th>
                    <th scope="col">날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${paging}">
                    <td scope="row">
                        <div th:text="${board.id}"></div>
                    </td>
                    <td>
                        <a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}"
                            class="text-decoration-none"></a>
                    </td>
                    <td>
                        <div th:text="${board.memberName}"></div>
                    </td>
                    <td>
                        <div th:text="${board.likes}"></div>
                    </td>
                    <td>
                        <div th:text="${board.views}"></div>
                    </td>
                    <td>
                        <div th:text="${#dates.format(board.createdTime, 'yyyy.MM.dd HH:mm:ss')}"></div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="text-end" sec:authorize="isAuthenticated()">
            <button type="button" class="btn btn-primary m-3" onclick="location.href='/board/write'">글쓰기</button>
        </div>

        <form th:action="@{/board/list}" method="get" th:object="${boardSearchDto}">
            <div class="container">
                <div class="row g-0 my-4 justify-content-center">
                    <div class="col-1">
                        <select class="form-select" name="searchType" th:value="${boardSearchDto.searchType}">
                            <option value="title">제목</option>
                            <option value="content">본문</option>
                            <option value="writer">작성자</option>
                        </select>
                    </div>
                    <div class="col-5">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="검색하기" name="keyword" th:value="${boardSearchDto.keyword}">
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- 페이징 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a th:if="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${paging.number-1}, searchType=${boardSearchDto.searchType}, keyword=${boardSearchDto.keyword})}" class="page-link">
                        <span>이전</span>
                    </a>
                    <a th:unless="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${paging.number-1})}" class="page-link">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'" class="page-item">
                    <a th:if="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${page}, searchType=${boardSearchDto.searchType}, keyword=${boardSearchDto.keyword})}" th:text="${page+1}" class="page-link"></a>
                    <a th:unless="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${page})}" th:text="${page+1}" class="page-link"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a th:if="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${paging.number+1}, searchType=${boardSearchDto.searchType}, keyword=${boardSearchDto.keyword})}" class="page-link">
                        <span>다음</span>
                    </a>
                    <a th:unless="${boardSearchDto.isSearching}" th:href="@{/board/list(page=${paging.number+1})}" class="page-link">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!--페이징 end-->
    </th:block>
</body>

</html>