<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">

  <script th:inline="javascript">
    const token = $("meta[name='_csrf']").attr("content");
    const header = $("meta[name='_csrf_header']").attr("content");
    axios.defaults.xsrfCookieName = token;
    axios.defaults.xsrfHeaderName = header;


    $(document).ready(() => {
      const errorMessage = [[${ errorMessage }]];
      if (errorMessage != null) {
        alert(errorMessage);
      }
      // 댓글 불러오기
      getComments(0);

      // 댓글 등록 이벤트 추가
      const commentBth = document.getElementById("comment_btn");
      commentBth.addEventListener('click', writeComment);
    });

    const likeBoard = async () => {
      const url = '/board/like';
      const boardId = parseInt($('#boardId').val(), 10);
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");

      await axios.post(url, {
        'boardId': boardId
      },
        {
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            [header]: token
          }
        })
        .then(res => {
          console.log(res)
          alert("추천 완료");
        })
        .catch(err => {
          alert(err.response.data);
          console.error(err);
        })

      await axios.get(url + '/' + boardId)
        .then(res => {
          console.log(res)
          $('#boardLikes').text(res.data);
        })
        .catch(err => {
          console.error(err);
        })
    };

    const writeComment = async () => {
      const header = $("meta[name='_csrf_header']").attr("content");
      const token = $("meta[name='_csrf']").attr("content");

      const url = '/comment/write';
      const comment = $('#comment_input').val();
      const boardId = parseInt($('#boardId').val(), 10);

      await axios.post(url, {
        'comment': comment,
        'boardId': boardId
      },
        {
          headers: {
            "Content-Type": "application/json; charset=utf-8",
            [header]: token
          }
        })
        .then(res => {
          document.getElementById("comment_input").value = '';
          console.log(res)
        })
        .catch(err => {
          console.error(err);
          alert("댓글 등록 중 오류가 발생했습니다.");
        });

      await getComments(0);
    };

    const getComments = async (page) => {

      const url = '/comment/board/';
      const boardId = $('#boardId').val();
      const params = {
        'page': page
      };

      axios.get(url + boardId, {
        'params': params
      })
        .then(res => {
          console.log(res)
          const data = res.data;
          let comments = '';

          for (const c of data.content) {
            comments += `
            <li class="border-bottom border-dark-subtle">
              <div class="row my-3">
                <div class="fw-bold col-2">${c.memberName}</div>
                <div class="col-10">
                  ${c.comment}</div>
              </div>
            </li>
          `;
          }
          $('#comments').html(comments);

          let commentPage = '';
          for (let i = 0; i < data.totalPages; i++) {
            commentPage += `
            <li class="page-item"><a id="page${i}" class="page-link">${i + 1}</a></li>
            `;
          }
          $('#comment_paging').html(commentPage);

          for (let i = 0; i < data.totalPages; i++) {
            $('#page' + i).click(() => getComments(i));
          }

        })
        .catch(err => {
          console.error(err);
        });
    };

    const updateComment = () => {
      const header = $("meta[name='_csrf_header']").attr("content");
      const token = $("meta[name='_csrf']").attr("content");

      const url = '/comment/update';

      axios.patch(url, data)
      .then(res => {

      })
      .catch(err => {

      })
    };

    const deleteComment = () => {
      const header = $("meta[name='_csrf_header']").attr("content");
      const token = $("meta[name='_csrf']").attr("content");

      axios.delete(url)
      .then(res => {
        console.log(res)
      })
      .catch(err => {
        console.error(err); 
      })
    };
  </script>

</th:block>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title th:text="${boardDetail.title}"></title>
</head>

<body>
  <th:block layout:fragment="content">
    <input type="hidden" id="boardId" th:value="${boardDetail.id}">

    <div class="m-5">
      <div class="display-6 border-bottom border-dark-subtle" th:text="${boardDetail.title}">test</div>

      <div class="my-3">
        <div class="border border-2 border-start-0 rounded p-2">
          <div class="mb-2"> #
            <span th:text="${boardDetail.id}"></span>
          </div>
          <div class="mb-2"> 작성자:
            <span th:text="${boardDetail.memberName}"></span>
          </div>
          <div class="mb-2"> 조회수:
            <span th:text="${boardDetail.view}"></span>
          </div>
          <div class="mb-2"> 등록 시간:
            <span th:text="${boardDetail.createdTime}"></span>
          </div>
          <div class="mb-2" th:if="${not #strings.isEmpty(boardDetail.updatedTime)}"> 수정 시간:
            <span th:text="${boardDetail.updatedTime}"></span>
          </div>
        </div>
      </div>

      <div class="border border-start-0 border-success p-2 mb-2 border-opacity-50">
        <div class="my-2" th:text="${boardDetail.content}"></div>
        <div class="d-flex align-items-center justify-content-center">
          <button type="button" class="btn btn-success mt-3 mb-1" onclick="likeBoard()">좋아요 <span id="boardLikes"
              th:text="${boardDetail.likes}"></span></button>
        </div>
      </div>

      <div class="btn-group" role="group">
        <form th:action="@{/board/delete/{id}(id=${boardDetail.id})}" method="post">
          <button type="button" class="btn btn-primary"
            th:onclick="|location.href='@{/board/update/{id}(id=${boardDetail.id})}'|">수정</button>
          <input type="hidden" name="_method" value="delete" />
          <button type="submit" class="btn btn-danger">삭제</button>
        </form>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      </div>

    </div>

    <div class="m-5">
      <div class="form-floating">
        <textarea class="form-control" id="comment_input" placeholder="댓글을 남겨 주세요." style="height: 100px"></textarea>
        <label for="floatingTextarea">댓글을 남겨 주세요.</label>
        <button type="button" id="comment_btn" class="btn btn-primary my-3">댓글 쓰기</button>
      </div>

      <div id="comment_list">
        <ul id="comments" class="card-body">

        </ul>

        <nav>
          <ul id="comment_paging" class="pagination justify-content-center">

          </ul>
        </nav>
      </div>
    </div>
  </th:block>
</body>

</html>