<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(() => {
            const errorMessage = [[${ errorMessage }]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
            // Quill 에디터 설정
            const options = {
                modules: {
                    toolbar: [
                        [{ header: [1, 2, false] }],
                        ['bold', 'italic', 'underline'],
                        ['image', 'video', 'code-block']
                    ]
                },
                placeholder: '여기부터 작성해주세요...',
                theme: 'snow'
            };
            const editor = new Quill('#editor', options);
            editor.on('text-change', () => {
                document.getElementById("content").value = editor.root.innerHTML;
            });
            
        });
    </script>

</th:block>


<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>

<body>
    <th:block layout:fragment="content">
        <div class="m-5 pb-3">
            <form id="boardForm" action="/board/write" role="form" method="post" th:object="${boardFormDto}">
                <div class="mx-5 mb-4">
                    <label th:for="title" class="form-label fs-2">제목</label>
                    <input title="글제목" type="text" th:field="*{title}" name="title" id="title" class="form-control ">
                </div>

                <div class="mx-5 mb-3">
                    <label th:for="content" class="form-label fs-2">내용</label>
                    <input type="hidden" th:field="*{content}" id="content">
                    <div id="editor" name="content">

                    </div>
                </div>

                <button type="submit" class="btn btn-success mx-5" id="submit">저장</button>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            </form>

        </div>
    </th:block>
</body>

</html>