<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

<th:block layout:fragment="css">
  <style>
    p img {
      max-width: 100%;
      max-height: 100%;
    }

    p iframe {
      max-width: 100%;
      max-height: 100%;
    }
  </style>
</th:block>

<th:block layout:fragment="script">
  <script src="/js/boardDetail.js"></script>

  <script th:inline="javascript">
    $(document).ready(() => {
      let errorMessage = [[${ errorMessage }]];
      if (errorMessage != null) {
        alert(errorMessage);
      }
    });
  </script>

</th:block>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <title th:text="${boardDetail.title}"></title>
</head>

<body>
  <th:block layout:fragment="content">
    <input type="hidden" id="boardId" th:value="${boardDetail.id}">

    <div class="m-5">
      <div class="display-6 border-bottom border-dark-subtle" th:text="${boardDetail.title}">test</div>

      <div class="my-3">
        <div class="border border-2 border-start-0 rounded p-2">
          <div class="mb-2"> #
            <span th:text="${boardDetail.id}"></span>
          </div>
          <div class="mb-2"> 작성자:
            <span th:text="${boardDetail.memberName}"></span>
          </div>
          <div class="mb-2"> 조회수:
            <span th:text="${boardDetail.view}"></span>
          </div>
          <div class="mb-2"> 등록 시간:
            <span th:text="${#temporals.format(boardDetail.createdTime, 'yyyy.MM.dd HH:mm:ss')}"></span>
          </div>
          <div class="mb-2" th:if="${not #strings.isEmpty(boardDetail.updatedTime)}"> 수정 시간:
            <span th:text="${#temporals.format(boardDetail.updatedTime, 'yyyy.MM.dd HH:mm:ss')}"></span>
          </div>
        </div>
      </div>

      <div class="border border-start-0 border-success p-2 mb-2 border-opacity-50">
        <div class="my-2" th:utext="${boardDetail.content}"></div>
        <div class="d-flex align-items-center justify-content-center">
          <button type="button" class="btn btn-success mt-3 mb-1" onclick="likeBoard()">좋아요 <span id="boardLikes"
              th:text="${boardDetail.likes}"></span></button>
        </div>
      </div>

      <div class="btn-group" role="group" th:if="${boardDetail.isAuthorized}">
        <form th:action="@{/board/delete/{id}(id=${boardDetail.id})}" method="post" id="btnForm">
          <button type="button" class="btn btn-primary"
            th:onclick="|location.href='@{/board/update/{id}(id=${boardDetail.id})}'|">수정</button>
          <input type="hidden" name="_method" value="delete" />
          <button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
        </form>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      </div>

    </div>

    <div class="m-5">
      <!--/* 댓글 작성창 */-->
      <div class="form-floating" sec:authorize="isAuthenticated()">
        <textarea class="form-control" id="comment_input" placeholder="댓글을 남겨 주세요." style="height: 100px"></textarea>
        <label for="floatingTextarea">댓글을 남겨 주세요.</label>
        <button type="button" id="comment_btn" class="btn btn-primary my-3">댓글 쓰기</button>
      </div>

      <!--/* 댓글 리스트 */-->
      <div id="comment_list">
        <ul id="comments" class="card-body">

        </ul>

        <!--/* 댓글 페이징 */-->
        <nav>
          <ul id="comment_paging" class="pagination justify-content-center">

          </ul>
        </nav>

      </div>
    </div>
  </th:block>
</body>

</html>