<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">

<th:block layout:fragment="script">

    <script th:inline="javascript">
        $(document).ready(() => {
            const errorMessage = [[${ errorMessage }]];
            if (errorMessage != null) {
                alert(errorMessage);
            }
        });
    </script>

</th:block>


<head>
    <meta charset="UTF-8">
    <title>게시물 작성</title>
</head>

<body>
    <th:block layout:fragment="content">
        <form id="boardForm" action="/board/write" role="form" method="post" th:object="${boardFormDto}">

            <div>
                <label th:for="title">제목</label>
                <input title="글제목" type="text" th:field="*{title}" name="title" id="title">
            </div>

            <div>
                <label th:for="content">내용</label>
                <textarea class="content" th:field="*{content}" name="content" rows="10" cols="50"></textarea>
            </div>

            <button type="submit" >저장</button>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>
    </th:block>
</body>

</html>